{% extends "base.html" %}

{% block title %} {{subscription.name}} {{subscription.id}} {% endblock %}

{% block content %}
    <h2> Owner {{ subscription.user.username }}</h2>
    <p> Tariff {{ subscription.tariff.name}} </p>
    <p> Subscription started {{ subscription.created_at}} </p>
    <p> Is active {{ subscription.is_active}} </p>
    <p>
        <a href="{% url 'subscriptions_list' %}">Back to list</a>
    </p>
    <p>
        <a href="{% url 'update_subscription' subscription.id %}">Update</a>
    </p>
    <p>
        <a href="{% url 'delete_subscription' subscription.id %}">Delete</a>
    </p>

{% endblock %}